body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #656ee7;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.cart {
    margin: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.cart h2 {
    text-align: center;
}

.cart-items {
    margin: 20px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none; /* Menghapus border bawah untuk item terakhir */
}

.total {
    text-align: center;
    margin-top: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #121b92;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7700ff;
}
